Repository valassis-fcalle/eslint-config: changes, and which lint-staged commands are due for each by the changed paths.
All: cspell --no-summary --no-progress, markdownlint --fix --ignore CHANGELOG.md, prettier --write, eslint --fix, imagemin-lint-staged, postcss --config path/to/your/config --replace, stylelint

.lintstagedrc:

{
  "*": "cspell --no-summary --no-progress",
  "*.md": "markdownlint --fix --ignore CHANGELOG.md",
  "*.{js,jsx,ts,tsx,html,css}": [
    "prettier --write",
    "eslint --fix"
  ],
  "*.{png,jpeg,jpg,gif,svg}": "imagemin-lint-staged",
  "*.scss": [
    "postcss --config path/to/your/config --replace",
    "stylelint"
  ]
}

feat(EUDEV-20728): add savi rules
  cspell.json
  index.js
Due: cspell --no-summary --no-progress, prettier --write, eslint --fix

fix(EUDEV-20728): include dependencies
  .prettierrc
  README.md
  cspell.json
  index.js
  package.json
Due: cspell --no-summary --no-progress, markdownlint --fix --ignore CHANGELOG.md, prettier --write, eslint --fix

docs: include todo for semantic release
  README.md
Due: cspell --no-summary --no-progress, markdownlint --fix --ignore CHANGELOG.md

docs(readme): todos as checklist
  README.md
Due: cspell --no-summary --no-progress, markdownlint --fix --ignore CHANGELOG.md

fix(readme): list format
  README.md
Due: cspell --no-summary --no-progress, markdownlint --fix --ignore CHANGELOG.md
